.card {
  width: 400px;
  margin: 10px;
  background-color: bisque;
  border: solid 1px;
  box-shadow: 0 2p 2px 0 rgba(0, 0, 0, 0.1);
}

.placeholder-for-image{
  width: 400px;
  height: 250px;
  background-color: red;
}